<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">   
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>      
</head>
<body>
    <section class="bg">
        <section class="hero">
            <f-list-headerer class="main-f-list-headerer container">
                <nav class="container main-nav">
                    <ul class="nav-list">
                        <li><a href="/home" class="nav-items">Home</a></li>
                        <li><a href="/blog" class="nav-items">Blogs</a></li>
                        <li><a href="/myblogs" class="nav-items">My Blogs</a></li>
                        <li><a href="#" class="nav-items about-me">About Me</a></li>
                        <span class="close"><i class='bx bx-x'></i></span>
                    </ul>
                    <form action="/logout" method="post"></form>
                    <a href="/" class="logout"><i class='bx bx-log-out-circle bx-flip-horizontal' style='color:#ffffff'  ></i></a>
                    </form>
                    <span class="open"><i class='bx bx-menu btn-open'></i></span>
                </nav>
            </f-list-headerer>
            <div class="hero-content container">
                <!-- <h1>Hello, I'm Nidhish Vyas</h1>
                <h4>and this is my portfolio</h4> -->
            </div>
        </section>  

</section>

</body>
</html>