* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body{
    font-size: 2rem;
    background-color: #021420;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.bg{
    background-color: #021420;
    width: 100%;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #f2a70d;
}

img{
    width: 100%;
    display: inline-block;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 4rem;
}

.blog-container{
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 4rem;
    height: 40rem;
}

.top{
    opacity: 0;
    position: fixed;
    width: 5rem;
    height: 5rem;
    color: #021420;
    right: 4rem;
    bottom: 5rem;
    text-decoration: none;
    text-align: center;
    line-height: 5rem;
    font-size: 6rem;
    transition: 0.6s;
    z-index: 1000;
}

.top.sticky{
    opacity: 1;
}

.sticky-header{
    opacity: 0;
    top: 0;
    position: fixed;
    background-color: #021420;
    transition: 0.6s;
    width: 100%;
    height: 5rem;
    padding: 2.5rem 0 7.5rem 0;
    z-index: 100;
}


.sticky-header.sticky{
    opacity: 1;
}

/* ----------------HERO---------------- */

.hero{
    background: #021420;
    /* background-attachment: fixed; */
    height: 12.5vh;
    width: 100%;
}

.main-nav{
    display: flex;
    justify-content: right;
    align-items: center;
}

.title{
    height: 5rem;
    width: auto;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    align-items: center;
}

.nav-items{
    margin: 0 2rem;
    color: #fff;
    font-size: 2.2rem;
    align-items: center;
}

.nav-items:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logout{
    font-size: 2.5rem;
    margin-left: 35rem;
    /* float: right; */
}

.hero-content{
    text-align: center; 
    /* padding: 30rem 20rem 44rem 20rem; */
    /* margin: auto 0; */
    /* display: grid;
    place-items: center; */
    /* color: #bfe9ff; */
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.open, .close{
    display: none;
}

.hero-content h1{
    font-size: 7rem;
}

.hero-content h4{
    font-size: 3rem;
}

.poster{
    height: 40vh;
    width: 100%;
    object-fit: cover;
}


form{
    align-items: center;
    /* text-align: center; */
}

.item{
    margin: 2.5rem 0;
    align-items: center;
}

.text{
    float: right;
    margin-right: 5rem;
    background-color: #042235;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

label{
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 4vh;
    color: #f2a70d;
}

input{
    width: 50rem;
}

.lines2{
    height: 5vh;
}

.lines10{
    line-height: 20vh;
    word-wrap: break-word;
}

.area{
    width: 50rem;
    height: 20vh;
}

.image{
    margin-top: 20vh;

}

/* .btn-img{
    width: 10rem;
    text-align: center;
    margin-right: 45rem;
    transition: 0.3s ease;
    border: 2px solid #f2a70d;
    color: #f2a70d;
}

.btn-img:hover{
    background-color: #f2a70d;
    color: #042235;
} */

.btn-img{
    background-color: #021420;
    width: 25rem;
    margin-right: 31rem;
}


.sub-btn{
    text-align: center;
    margin-right: 44.5rem;
    float: right;
    transition: 0.3s ease;
    padding: 1rem 3rem;
    border: 2px solid #f2a70d;
    border-radius: 0.5rem;
    color: #f2a70d;
    background: none;
}

.sub-btn:hover{
    background-color: #f2a70d;
    color: #042235;
}

/* ----------------FOOTER---------------- */

footer{
    background-color: #031a28;
    position: fixed;
    z-index: -1;
    bottom: 0;
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    margin: 12.5rem 0 0 3rem;
    height: 10rem;
    width: auto;
}

.apps{
    margin-top: 2.4rem;
}

.apps i{
    margin-right: 2rem;
    font-size: 2.4rem;
    cursor: pointer;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2rem;
}

.links{
    margin: 4rem 4rem 0 4rem;
}

.links li{
    margin: 1.5rem;
}

.links a{
    text-decoration: none;
    /* color: #80d2ff; */
}

.links a:hover{
    text-decoration: underline;
}

/* .f-list-header{
    color: #bfe9ff;
} */

.connect{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 26rem;
    text-align: center;
    margin: 4rem 0 0 10rem;
}

.newsletter{
    height: 4rem;
    display: flex;
    justify-content: center;
}

.sub-news{
    margin: 0 0 1rem 0;
}

.newsletter i{
    background: #000a14c7;
    width: 4rem;
    line-height: 4rem;  
}

.email, .sub{
    border: none;
    outline: none;
}

.email{
    width: 0;
    transition: 0.6s;
}

.newsletter:hover > .email, .email:focus{
    width: 26rem;
    padding: 0 1rem;
}

::placeholder{
    color: #001224;
    background-color: #bfe9ff;
    opacity: 1;
}

.sub{
    background: #000a14c7;
    color: #bfe9ff;
    padding: 0 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.apps i{
    font-size: 3rem;
    margin: 2rem;
}

.connect-txt{
    margin-bottom: 1rem;
}

.copyright{
    /* color: #bfe9ff; */
    margin-top: 3em;
    padding-bottom: 3em;
    border-top: 0.1rem solid #fff;
    padding-top: 2em;
    font-size: 0.7em;
    text-align: center;
}

.margin{
    /* padding-bottom: 10rem; */
    margin-bottom: 45rem;
}